*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 10rem;
  width: min(95%, 70rem);
}

.settings {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 64px;
}

.sketch-grid {
  box-shadow: 0 0 8px 8px #c9c9c9;
  min-width: 640px;
  min-height: 640px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.settings__toggle-grid-button,
.settings__clear-grid-button,
.settings__random-mode-button,
.settings__eraser-button,
.settings__color-fill-button {
  height: 2.5rem;
  width: 8rem;
  border-radius: 8px;
  background-color: #ff9000;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #ff9000;
  cursor: pointer;
  text-align: center;
  transition: background-color 150ms ease-in-out;
}
.settings__clear-grid-button,
.settings__random-mode-button,
.settings__eraser-button,
.settings__color-fill-button {
  background-color: #ffffff;
  border: 1px solid #ff9000;
  color: #414141;
}

.settings__toggle-grid-button.toggled {
  color: #414141;
  background-color: #ffffff;
}
.settings__random-mode-button.toggled,
.settings__eraser-button.toggled {
  background-color: #ff9000;
  border: 1px solid #ff9000;
  color: #fff;
}

button:focus {
  box-shadow: 0px 0px 0px 1px #ffffff, 0px 0px 0px 3px #d4d4d4;
}

.settings__toggle-grid-button:hover,
.settings__clear-grid-button:hover,
.settings__color-fill-button:hover,
.settings__clear-grid-button:hover,
.settings__random-mode-button:not(.toggled):hover,
.settings__eraser-button:not(.toggled):hover {
  background-color: #fff9f2;
}

.settings__toggle-grid-button:not(.toggled):hover {
  background-color: #ffa42e;
}

.settings__clear-grid-button:active,
.settings__random-mode-button:active,
.settings__eraser-button:active,
.settings__color-fill-button:active {
  background-color: #ffeed8;
}

.settings__grid-size {
  display: flex;
  flex-direction: column;
}

.settings__wrapper--upper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings__wrapper--lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 64px;
  height: 64px;
  background-color: transparent;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
  box-shadow: 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 11px 15px -7px rgba(0, 0, 0, 0.2);
}
input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

input[type="range"] {
  width: 100%;
  margin: 6.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(255, 238, 216, 0.9);
  border: 0.1px solid #010101;
  border-radius: 25px;
  width: 100%;
  height: 6px;
  cursor: ew-resize;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -6.6px;
  width: 20px;
  height: 19px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  cursor: ew-resize;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ff9000;
}
input[type="range"]::-moz-range-track {
  background: rgba(255, 238, 216, 0.9);
  border: 0.1px solid #010101;
  border-radius: 25px;
  width: 100%;
  height: 6px;
  cursor: pointer;
}
input[type="range"]:focus::-moz-range-track {
  background: #ff9000;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 19px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  cursor: pointer;
}
