*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 10rem;
  width: min(95%, 70rem);
  border: 2px solid red;
}

.settings {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sketch-grid {
  box-shadow: 0 0 8px 8px #9f9f9f;
  min-width: 640px;
  min-height: 640px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.sketch-grid > div {
  background-color: lightblue;
}